*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

.col-15 ul{
    list-style: none;
    display: flex;
    gap: 10px;
    color: white;
}

.col-15{
    width: 15%;
    padding-top: 10px;
}

.container{
    max-width: 1200px;
}
.margin-container{
    margin: 0 130px;
}

.col-70{
    width: 70%;
}

.row{
    width: 100%;
    display: flex;
}

header{
    background-color: rgba(255,105,0,255);
    height: 60px;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.logo-center{
    text-align: center;
}

.container-sm{
    max-width: 1200px;
}

main{
    padding-top: 100px;
    padding-bottom: 100px;
}

.col-33{
    width: calc(100%/3 - 20px);
}

.col-70 img{
    width: 20%;
}

.col-33 img{
    width: 100%;
}

.f-wrap{
    flex-wrap: wrap;
    gap: 10px 10px;
}

.img{
    position: relative;
}

.cuore{
    position: absolute;
    top: 10px;
    right: 0;
    background-color: white;
    padding: 10px 15px;
}

.discount{
    position: absolute;
    bottom: 90px;
    left: 0;
    background-color: red;
    padding: 5px 10px;
    color: white;
}

.off{
    display: none;
}

.img:hover .on{
    display: none;
}

.img:hover .off{
    display: block;
}

.label{
    position: absolute;
    bottom: 90px;
    left: 60px;
    background-color: green;
    padding: 5px 10px;
    color: white;
}

.brand{
    font-size: 15px;
    color: rgb(162, 162, 162);
}

.description{
    font-weight: bolder;
}

.price{
    color: rgb(255, 36, 36);
}

.discount-price{
    color: rgb(162, 162, 162);
    text-decoration: line-through;
}

/* FOOTER */

.col-50{
    width: 50%;
}

.col-30{
    width: 30%;
}

.col-50 ul{
    list-style: none;
    display: flex;
    gap: 10px;
    color: white;
}

footer{
    background-color: black;
    padding: 30px 0;
    height: 100px;
}

.col-50 h3,h4{
    color: white;
}

.right{
    text-align: right;
}

h3,h4{
    line-height: 30px;
}
