*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

.col-15 ul{
    list-style: none;
    display: flex;
    gap: 10px;
    color: white;
}

.col-15{
    width: 15%;
}

.container{
    max-width: 1200px;
}
.margin-container{
    margin: 0 auto;
}

.col-70{
    width: 70%;
}

.row{
    width: 100%;
    display: flex;
}

header{
    background-color: rgba(255,105,0,255);
    height: 60px;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.logo-center{
    text-align: center;
}

.container-sm{
    max-width: 1200px;
}

main{
    padding-top: 100px;
}

.col-33{
    width: calc(100%/3 - 20px);
}

.col-70 img{
    width: 20%;
}

.col-33 img{
    width: 100%;
}

.f-wrap{
    flex-wrap: wrap;
    gap: 10px 10px;
}

.img{
    position: relative;
}

.discount{
    position: absolute;
    top: 10px;
    right: 0;
    background-color: white;
    padding: 15px;
}

.off{
    display: none;
}

.img:hover .on{
    display: none;
}

.img:hover .off{
    display: block;
}